@font-face {
  font-family: "Quicksand";
  src: url("./quantum screen assets/Quicksand font 1/static/Quicksand-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("./quantum screen assets/Quicksand font 1/static/Quicksand-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@keyframes slide-up {
  from {
    margin-top: 100px;
    opacity: 0;
  }
  /* 50% {
    margin-top: 50px;
    opacity: 0.99;
  } */
  to {
    margin-top: 0px;
    opacity: 1;
  }
}
@keyframes slide-down {
  from {
    margin-top: 0px;
    opacity: 1;
  }
  /* 50% {
    margin-top: 50px;
    opacity: 0.99;
  } */
  to {
    margin-top: 100px;
    opacity: 0;
  }
}

body {
  margin: 0px;
  font-family: "Quicksand";
  overflow-x: hidden;
  background-color: #eeeeee;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 7% auto auto auto 6%;
}

.header {
  width: 99vw;
  position: sticky;
  top: 0;
  display: flex;
  background-image: url("./quantum screen assets/header pattern image.png");
  background-color: #222222;
  padding: 0.5rem;
  padding-left: 1.5rem;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.562);
  justify-content: space-between;
  align-items: center;
  vertical-align: auto;
  padding: 1rem;
  z-index: 10;
}

.links {
  display: flex;
  gap: 3rem;
  justify-content: space-evenly;
  color: #3fd28b;
  font-weight: bolder;
  margin-right: 1rem;
}

.links > a:hover {
  color: #ffffff;
  cursor: pointer;
}

.links > a:hover::after {
  display: flex;
  flex-direction: row;
  content: "";
  color: #ffffff;
  background-color: white;
  height: 3px;
}

.menu:hover{
  opacity: 0.8;
}

.dropdown {
  position: relative;
  display: inline-block;
  animation-name: slide-down;
  animation-duration: 1s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  animation-name: slide-up;
  animation-duration: 0.1s;
  display: block;
  left:-8rem;
}

.notif:hover{
  opacity: 0.7;
}

.notif-dropdown {
  position: relative;
  display: inline-block;
  animation-name: slide-down;
  animation-duration: 1s;
}

.notif-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.notif-dropdown-content div {
  color: black;
  text-decoration: none;
  display: block;
}

.notification{
  padding: 0rem;
  min-width: 300px;
}

.notification > :nth-child(2){
  display: flex;
  justify-content: center;

}


.notification > div > button {
  color: #1f7a54;
  width: 100%;
  padding: 1rem;
}



.notif-dropdown:hover .notif-dropdown-content {
  animation-name: slide-up;
  animation-duration: 0.1s;
  display: block;
  background-color: white;
  left:-8rem;
}


.notif-footer :nth-child(2){
  display: flex;
  font-size: x-small;
  width: inherit;
  color: rgba(128, 128, 128, 0.685);
  padding: 0.3rem;
  align-items: center;
  justify-content: space-between;
}

.notif-footer :nth-child(1){
  display: flex;
  font-size: x-small;
  width: inherit;
  color: rgba(128, 128, 128, 0.685);
  padding: 0.3rem;
  align-items: center;
  justify-content: space-between;
}

.notif-footer > div{
  width: fit-content;
  height: auto;
}

.upper-notif-content :nth-child(1){
  display: flex;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  font-size: x-small;
}
.upper-notif-content :nth-child(2){
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
}

.singular-notif{
  border-top: #222222 solid 1px;
  border-bottom: #222222 solid 1px;
}

.wheat{
  background-color: rgb(252, 246, 237);
}

.footer {
  display: flex;
  background: #e0e1e1;
  justify-content: center;
  align-items: center;
}

.footer > img {
  margin-right: 1.2rem;
  transform: scale(1.3);
  padding-bottom: 0.15rem;
}

.inden {
  width: 2px;
  height: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.7rem;
  background-color: darkgrey;
  border-radius: 20%;
}

.bold {
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.tabs {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  justify-self: center;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  background-color: #3fd28b;
}

.tabs > div {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.tabs > div > h1 {
  font-size: x-large;
}

.cursor {
  cursor: pointer;
}

.enabled {
  border-bottom: 5px solid black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 800px);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-left: 3rem;
  background-color: #eeeeee;
  padding-right: 3rem;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  position: relative;
  width: 95%;
  border-radius: 1%;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: larger;
  background-color: #ffffff;
  padding: 1.5rem;
}

.content {
  width: inherit;
  display: flex;
  justify-content: flex-start;
}

.content > div > img {
  justify-self: center;
  align-self: center;
  margin: 4rem;
  margin-left: 2.5rem;
  padding-right: 0.2rem;
  transform: scale(1.75);
}

.info {
  width: 100%;
}

.info > :nth-child(1) {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  font-weight: bold;
}

.info > :nth-child(1) > img {
  transform: scale(1.5);
}

.cardfooter {
  width: 80%;
  height: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}

.cardfooter > img {
  transform: scale(1.5);
}

.pagenumber {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid black;
  justify-self: center;
  width: 80%;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: larger;
}

.pagenumber :nth-child(2) {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagenumber :nth-child(2) > :nth-child(2) {
  font-size: larger;
  font-weight: bold;
  border-bottom: #222222 solid 2px;
}

.info > :nth-child(2) {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  font-size: medium;
}

.info > :nth-child(2) > :nth-child(2)::before {
  content: "";
  height: 70%;
  align-self: center;
  justify-self: center;
  width: 2px;
  margin-left: -0.6rem;
  margin-right: 0.6rem;
  background-color: grey;
}

.info > :nth-child(2) > :nth-child(2) {
  display: flex;
}

.info > :nth-child(2) > :nth-child(2) > p {
  margin: 0rem;
}
.info > :nth-child(2) > P {
  margin: 0rem;
}

.info > :nth-child(2) > :nth-child(2) > :nth-child(2) {
  margin-left: 0.2rem;
  color: #1f7a54;
}

.info :nth-child(3) {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-size: medium;
  justify-content: flex-start;
  gap: 1rem;
}

.info :nth-child(3) > p {
  font-weight: bold;
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-right: -0.8rem;
}

.info :nth-child(4) {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: x-large;
  font-weight: bold;
  border-bottom: solid #222222 3px;
}

.info :nth-child(5) > :nth-child(2)::before {
  content: "";
  height: 70%;
  align-self: center;
  justify-self: center;
  width: 2px;
  margin-left: -0.6rem;
  margin-right: 0.6rem;
  background-color: grey;
}

.info :nth-child(5) {
  display: flex;
  margin-top: 1rem;
  font-size: large;
  color: rgba(128, 128, 128, 0.753);
  font-weight: bold;
}

.content {
  padding-bottom: 1rem;
  border-bottom: solid rgba(22, 22, 22, 0.363) 2px;
  margin-bottom: 0.5rem;
}

.expired {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  color: #ffffff;
  font-size: medium;
  height: max-content;
  font-weight: bolder;
  padding: 0.1rem;
  width: max-content;
  z-index: 2;
}

.greyscale {
  color: rgba(128, 128, 128, 0.753);
}

.disabled {
  opacity: 0.5;
}

.collapse {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.menu {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .collapse {
    display: none;
  }

  .menu {
    display: flex;
  }
}


